h1{
    text-align: center;
}

div{
    margin: auto;
    
}

#grid{
    width: 800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

img{
    height: 200px;
    width: 200px;
}


@media screen and (max-width: 480px) {
    #grid{
        width: 320px;
        height: 240px;
        display: flex;
        flex-wrap: wrap;
    }
    
    img{
        height: 80px;
        width: 80px;
    }
} 